$mainColor: whitesmoke;
$danger: red;
$success: green;
$info: turquoise;

$breakpoint-tablet: 768px;

body {
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  margin: 0;
}

.navbar {
  margin-top: 2%;
  padding-left: 2em;
  padding-right: 2em;
  height: 5em;
  img {
    height: 100%
  }
}

.content {
  margin-top: 2%;
  padding: 2em;
  min-height: calc(100vh - 10em);
  display: flex;
  flex-direction: column;
}

.form {
  border-radius: 5px;
  box-shadow: 5px 5px 10px $mainColor;
  background-color: $mainColor;
  padding: 2%;
}

.notification {

  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  &.error {
    color: $danger;
  }

  &.success {
    color: $success;
  }

  &.info {
    color: turquoise;
  }
}

.card {
  box-shadow: 10px 10px 20px $mainColor;
  border-style: solid;
  border-radius: 5px;
}

.footer {
  height: 5em;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: $breakpoint-tablet) {
    #basic-navbar-nav {
      padding: 2em;
      border: 1px solid grey;
      box-shadow: 10px 10px 20px grey;
      background-color: $mainColor;
    }
}